body {
  font-family: 'Poppins', sans-serif; }
  body header {
    color: #0dade2;
    text-align: center; }
    body header h1 {
      font-size: 4em;
      font-style: italic;
      margin-top: 50px; }
    body header h2 {
      font-size: 6em;
      text-align: center;
      font-weight: bold; }
  body main .searchBar {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #000; }
  body main .content {
    padding: 9%; }
    body main .content h2 {
      color: rgba(42, 23, 212, 0.699);
      padding-top: 10px; }
    body main .content .content-items {
      border-bottom: 2px solid #497753; }
  body main a:hover {
    text-decoration: none; }
  body main .errorBox {
    display: none;
    text-align: center;
    color: #e74747;
    border: 2px solid #000;
    margin: 8%; }
